
# - Only tested with Phred33 quality scores

samples: config/samples.tsv

units: config/units.tsv



#############
### ALIGN ###
#############
ref:
  wgs_eukaryota:
    n_shards: 2
    path: "/datasets/caeg_dataset/references/ncbi/20250205/data/wgs_eukaryota.{n_shard}.fas.gz"
    map:
      tool: bowtie2
      params: "-k 100 -L 22 -i S,1,1.15 --mp 1,1 --rdg 0,1 --rfg 0,1 --score-min L,0,-0.1 --no-unal"
      bt2l: True
    acc2taxid: /datasets/caeg_dataset/references/ncbi/20250205/wgs_eukaryota.acc2taxid.gz
  refseq_mitochondrion:
    n_shards: 1
    path: "/datasets/caeg_dataset/references/ncbi/20250205/data/refseq_mitochondrion.genomic.fas.gz"
    map:
      tool: bowtie2
      params: "-k 50 -L 22 -i S,1,1.15 --mp 1,1 --rdg 0,1 --rfg 0,1 --score-min L,0,-0.1 --no-unal"
      bt2l: False
    acc2taxid: /datasets/caeg_dataset/references/ncbi/20250205/refseq_mitochondrion.genomic.acc2taxid.gz

filter:
  saturated_reads:
    activate: true
    n_alns: 50

bam_filter:
  reassign:
    activate: true
    params: "--iters 0 --min-read-ani 94 --min-read-count 3"

  filter:
    activate: true
    params: "--min-read-ani 94 --min-read-count 3 --min-expected-breadth-ratio 0.5 --min-normalized-entropy auto --min-normalized-gini auto --min-breadth 0 --min-avg-read-ani 90 --min-coverage-evenness 0.4 --min-coverage-mean 0 --include-low-detection"

  lca:
    activate: false
    params: "--lca-rank genus"

taxonomy:
  nodes: /datasets/caeg_dataset/taxonomy/20250210/nodes.dmp
  names: /datasets/caeg_dataset/taxonomy/20250210/names.dmp

metadmg:
  damage:
    params: "--min_length 30 --print_length 15"

  lca:
    params: "--fix_ncbi 0 --sim_score_low 0.95 --how_many 15"

  dfit:
    params: "--nopt 10 --nbootstrap 20 --showfits 2"

report:
  multiqc: "--verbose"
