$schema: "https://json-schema.org/draft/2020-12/schema"

description: Read taxonomic assignment configuration file

type: object
properties:

  ref:
    type: object
    patternProperties:
      "^.+$":
        type: object
        properties:
          n_shards:
            type: integer
            minimum: 1
          path:
            type: string
          map:
            type: object
            properties:
              tool:
                type: string
                enum: ["bowtie2", "bwa_aln"]
              params:
                type: string
                pattern: "^((?!\b--?(threads|mm|t|time|q|U|1|2|interleaved|x|b|S|rd-id|rg|r)[ =]).)*$"
              bt2l:
                type: boolean
                default: yes
            required:
              - tool
              - params
          acc2taxid:
            type: string
        required:
          - n_shards
          - path
          - map
          - acc2taxid
    additionalProperties: false

  filter:
    type: object
    properties:
      saturated_reads:
        type: object
        properties:
          activate:
            type: boolean
          n_alns:
            type: integer
        required:
          - activate
          - n_alns
    required:
      - saturated_reads

  bam_filter:
    type: object
    properties:
      reassign:
        type: object
        properties:
          activate:
            type: boolean
          params:
            type: string
            pattern: "^((?!\b--?(t|threads|bam|m|sort-memory|N|sort-by-name|r|reference-lengths|p|prefix)[ =]).)*$"
        required:
          - activate
          - params
      filter:
        type: object
        properties:
          activate:
            type: boolean
          params:
            type: string
            pattern: "^((?!\b--?(t|threads|bam|low-memory|m|sort-memory|N|sort-by-name|disable-sort|r|reference-lengths|tmp-dir|bam-filtered|stats|stats-filtered|read-length-freqs|read-hits-count|only-stats|only-stats-filtered|knee-plot|plot|p|prefix)[ =]).)*$"
        required:
          - activate
          - params
      lca:
        type: object
        properties:
          activate:
            type: boolean
          params:
            type: string
            pattern: "^((?!\b--?(t|threads|bam|names|nodes|acc2taxid|m|sort-memory|custom|stats|r|reference-lengths|lca-summary|p|prefix)[ =]).)*$"
        required:
          - activate
          - params
    required:
      - reassign
      - filter
      - lca

  taxonomy:
    type: object
    properties:
      names:
        type: string
      nodes:
        type: string
    required:
      - names
      - nodes

  metadmg:
    type: object
    properties:
      damage:
        type: object
        properties:
          params:
            type: string
            pattern: "^((?!\b--?(n|threads|r|run_mode|o|out_prefix)[ =]).)*$"
        required:
          - params
      lca:
        type: object
        properties:
          params:
            type: string
            pattern: "^((?!\b--?(n|threads|bam|nodes|names|acc2tax|temp|out|out_prefix|dump_reads)[ =]).)*$"
        required:
          - params
      dfit:
        type: object
        properties:
          params:
            type: string
            pattern: "^((?!\b--?(n|nthreads|nodes|names|doboot|lib|out|out_prefix)[ =]).)*$"
        required:
          - params
    required:
      - damage
      - lca
      - dfit

  report:
    type: object
    properties:
      multiqc:
        type: string
        pattern: "^((?!\b--?(n|filename|o|outdir|data-dir|no-data-dir|z|zip-data-dir|no-report|pdf|version|clean-up|no-clean-up|h|help)[ =]).)*$"
    required:
      - multiqc

required:
  - ref
  - filter
  - taxonomy
  - metadmg
