$schema: "http://json-schema.org/draft-07/schema#"

description: aeDNA Trimming configuration file

type: object
properties:

  samples:
    type: string

  units:
    type: string

  ref:
    type: object
    patternProperties:
      "^.+$":
        type: object
        properties:
          bt2l:
            type: boolean
          n_chunks:
            type: integer
            minimum: 1
          path:
            type: string
        required:
          - n_chunks
          - path
    additionalProperties: false

  align:
    type: object
    properties:
      map:
        type: object
        properties:
          params:
            type: string
        required:
          - params
      bam_filter:
        type: object
        properties:
          activate:
            type: boolean
          params:
            type: string
        required:
          - activate
          - params
      mark_duplicates:
        type: object
        properties:
          activate:
            type: boolean
          tool:
            type: string
            enum: ["markduplicates", "markduplicatesspark", "markduplicateswithmatecigar", "bamsormadup"]
          params:
            type: string
        required:
          - activate
          - tool
          - params
      calmd:
        type: object
        properties:
          activate:
            type: boolean
          params:
            type: string
        required:
          - activate
          - params
    required:
      - map
      - bam_filter
      - mark_duplicates
      - calmd

  taxonomy:
    type: object
    properties:
      names:
        type: string
      nodes:
        type: string
      acc2taxid:
        type: string
    required:
      - names
      - nodes
      - acc2taxid

  metadmg:
    type: object
    properties:
      damage:
        type: object
        properties:
          params:
            type: string
        required:
          - params
      lca:
        type: object
        properties:
          params:
            type: string
        required:
          - params
      dfit:
        type: object
        properties:
          params:
            type: string
        required:
          - params
    required:
      - damage
      - lca
      - dfit

  report:
    type: object
    properties:
      multiqc:
        type: string
    required:
      - multiqc

required:
  - samples
  - units
  - ref
  - align
  - taxonomy
  - metadmg
  - report
