
#############
### ALIGN ###
#############
ref:
  wgs_eukaryota:
    n_shards: 2
    path: "/datasets/caeg_dataset/references/ncbi/20250205/data/wgs_eukaryota.{n_shard}.fas.gz"
    map:
      tool: bowtie2
      params: "-k 50 -L 22 -i S,1,1.15 --mp 1,1 --rdg 0,1 --rfg 0,1 --score-min L,0,-0.1 --no-unal"
      bt2l: True
    acc2taxid: "/datasets/caeg_dataset/references/ncbi/20250205/taxonomy/ncbi/wgs_eukaryota.acc2taxid.gz"
  refseq_mitochondrion:
    n_shards: 1
    path: "/datasets/caeg_dataset/references/ncbi/20250205/data/refseq_mitochondrion.genomic.fas.gz"
    map:
      tool: bowtie2
      params: "-k 50 -L 22 -i S,1,1.15 --mp 1,1 --rdg 0,1 --rfg 0,1 --score-min L,0,-0.1 --no-unal"
      bt2l: False
    acc2taxid: "/datasets/caeg_dataset/references/ncbi/20250205/taxonomy/ncbi/refseq_mitochondrion.genomic.acc2taxid.gz"

filter:
  saturated_reads:
    activate: true
    n_alns: 50

bam_filter:
  reassign:
    activate: true
    params: "--iters 0 --min-read-ani 92 --min-read-count 3 --scale 0 --squarem-min-improvement 0.001 --squarem-max-step-factor 2.0"

  filter:
    activate: false
    params: "--min-read-ani 92 --min-read-count 3 --min-normalized-entropy 0.6 --min-normalized-gini 0.4 --min-avg-read-ani 92"

  lca:
    activate: false
    params: "--lca-rank genus"

taxonomy:
  nodes: "/datasets/caeg_dataset/taxonomy/ncbi/20250210/nodes.dmp"
  names: "/datasets/caeg_dataset/taxonomy/ncbi/20250210/names.dmp"

metadmg:
  damage:
    params: "--print_length 15"

  lca:
    params: "--fix_ncbi 0 --how_many 15 --sim_score_low 0.95 --weight_type 0 --lca_rank genus"

  dfit:
    params: "--nopt 5 --showfits 2"

report:
  multiqc: "--verbose"
